<%= form_with model: user do |f| %>
  <div class="ui form">
    <div class="field">
      <%= f.label :name, "ユーザー名" %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, "パスワード確認" %>
      <%= f.password_field :password_confirmation%>
    </div>
    <%= f.submit "登録", class: "ui blue button" %>
<% end %>