<table class="ui selectable table">
  <caption><i class="user icon"></caption>
  <caption>information</caption>
  <caption><%= link_to "記録", new_diet_path, class: "ui button"%></caption>
  <thead>
    <tr>
      <th>Day</th>
      <th>before</th>
      <th>after</th>
      <th>record_day</th>
      <th>record</th>
      <th>edit</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user|%>
      <tr>
        <td><%= user.id%></td>
        <td><%= user.ini_weight  %></td>
        <td><%= user.day_weight %></td>
        <td><%= user.created_at.to_s(:datetime_jp)%></td>
        <td><%= link_to "詳細", diet_path(user[:id]), class: "ui button"%></td>
        <td><%= link_to "編集", edit_diet_path(user[:id]), class: "ui button"%></td>
      </tr>
    <% end %>
  </tbody>
</table>